<ul class="list">
  @for (product of (products$ | async); track product.id) {
    <li (click)="onSelected(product.id)" [ngClass]="{'active': product.id === (selectedProductId$ | async)}">
      <img [src]="product.images[0]" [alt]="product.title">
      <h2>{{product.title}}</h2>
      <p>{{product.description}}</p>
    </li>
  } @empty {
    <div class="alert">
      @if (errorMessage) {
        {{errorMessage}}
      } @else {
        Empty list of products
      }
    </div>
  }
</ul>
<app-product-detail />
