<section>
  <header class="header">
    <div class="container">
      <h1>I have to do</h1>
      <p>All my tasks in one place</p>
      <input
        type="text"
        class="new-todo"
        (keydown.enter)="addTask($event)"
      />
    </div>
  </header>
  <div class="container tasks-wrapper">
    <section class="main">
      <ul class="list">
        @for (task of tasks(); track task; let index = $index) {
          <li>
            <div class="content">
              <input
                type="checkbox"
                checked
                class="toggle"
              />
              <label>{{ task }}</label>
              <button class="destroy" (click)="deleteTask(index)">X</button>
            </div>
            <input
              class="edit"
              value="Learn JavaScript"
            />
          </li>
        }
      </ul>
    </section>
    <footer class="footer">
      <span><strong>0</strong> item left</span>
      <ul class="filters">
        <li class="selected">All</li>
        <li>Pending</li>
        <li>Completed</li>
      </ul>
      <span class="clear-completed">Clear completed</span>
    </footer>
  </div>
</section>
