.card {
  cursor: pointer;

  &:hover {
    .card__image {
      transition: opacity 0.2s ease-in-out;
      opacity: 0.75;
    }
  }
  &__image {
    border-radius: 1rem;
    margin-bottom: 1rem;
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  &__title,
  &__price {
    font-weight: 600;
    font-size: 1.25rem;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #888;
    margin: 0.75rem 0;
    overflow: hidden;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
  }

  &__button {
    background: #000;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    cursor: pointer;
    padding: 0.35rem 0.75rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #6e49fe;
    }
  }
}
