<aside class="summary">
  <h2 class="summary__title">Summary</h2>
  <ul class="list">
    <li class="list__item">
      <span>Subtotal</span>
      <strong>{{ subTotal() | currency }}</strong>
    </li>
    <li class="list__item">
      <span>Estimated Delivery & Handling</span>
      @if (cartItems().length > 0) {
      <strong>{{ deliveryFee() > 0 ? (deliveryFee() | currency) : "Free" }}</strong>
      } @else {
      <strong>$0.00</strong>
      }
    </li>
    <li class="list__item">
      <span>Estimated Taxes</span>
      <strong>{{ tax() | currency }}</strong>
    </li>
  </ul>
  <div class="total">
    <span>Total</span>
    <strong>{{ total() | currency }}</strong>
  </div>
  <button class="checkout__btn">Checkout Now</button>
</aside>
