:host {
  text-align: center;
}

h2 {
  margin-bottom: 3rem;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

app-select-control {
  display: block;
  margin: auto;
  max-width: 400px;
}
