@if (product$ | async; as product) {
<section class="product">
  <div class="wrapper">
    <div class="gallery">
      <figure class="gallery-sidebar">
        @for (image of product.images; track $index) {
          <figure (click)="changeImage(image)" [class.active]="imageSelected() === image" class="img-small">
            <img [src]="image" [alt]="product.title">
          </figure>
        }
      </figure>
      <figure class="img-full">
        <img [src]="imageSelected()" [alt]="product.title">
      </figure>
    </div>
    <article class="description">
      <header>
        <div>
          <h2>{{product.title}}</h2>
          <span>{{product.category.name}}</span>
        </div>
        <div class="price">
          <span>{{product.price | currency}}</span>
          <span>Inc. taxes</span>
        </div>
      </header>
      <p>{{product.description}}</p>
      <div class="actions">
        <button (click)="addToCart(product)">Add to Cart</button>
        <button>Proceed to Purchase</button>
      </div>
    </article>
  </div>
</section>
} @else if(errorMessage) {
<div class="alert">
  {{ errorMessage }}
</div>
}
