.wrapper {
  display: flex;
  gap: 3rem;
  max-width: 1440px;
  margin: auto;
  padding-top: 1rem;
}

.gallery {
  display: flex;
  gap: 1.5rem;
  width: 60%;

  &-sidebar {
    max-width: 100px;
  }

  img {
    border-radius: 0.5rem;
  }

  .img-small {
    cursor: pointer;
    margin-bottom: 1.5rem;

    &:hover {
      opacity: 0.9;
    }
    &.active {
      border: 0.1rem solid #999;
      border-radius: 0.5rem;
      padding: 0.2rem;
    }
  }
}

.description {
  flex: 1;
  padding-right: 2rem;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    h2 {
      margin-bottom: 0.5rem;
    }

    span {
      color: #777;
      display: block;
      font-size: 0.85rem;
    }

    .price {
      text-align: right;

      span:first-of-type {
        color: #000;
        font-size: 1.15rem;
        font-weight: 500;
      }
    }
  }

  p {
    margin-bottom: 3.5rem;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  button {
    background: none;
    border: 0.1rem solid #000;
    border-radius: 0.2rem;
    cursor: pointer;
    padding: 0.5rem 0;
    width: 50%;

    &:first-child {
      background: #000;
      color: #fff;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
