<section class="cart">
  <article class="cart-list">
    <h2>Your Cart</h2>
    <ul>
      @for (item of cartItems(); track item.product.id) {
        <li class="cart-item">
          <img [src]="item.product.images[0]" [alt]="item.product.title">
          <div class="cart-item-details">
            <div class="cart-item-title">
              <h3>{{ item.product.title }}</h3>
              <strong>{{ item.product.price | currency }}</strong>
            </div>
            <div class="cart-item-options">
              <span>Variant: Oversize</span>
              <span>Size: XL</span>
              <span>Color: Cream</span>
            </div>
            <div class="cart-item-quantity">
              <button class="remove">✖️Remove</button>
              <div class="counter">
                <button>⎻</button>
                <strong>{{item.quantity}}</strong>
                <button (click)="addItems(item.quantity)">✛</button>
              </div>
            </div>
          </div>
        </li>
      } @empty {
        <li class="empty-list-message">
          No items in cart
        </li>
      }
    </ul>
  </article>
  <aside class="cart-summary">
    <h2>Summary</h2>
    <ul>
      <li class="item-summary">
        <span>Subtotal</span>
        <strong>$191</strong>
      </li><li class="item-summary">
        <span>Estimated Delivery & Handling</span>
        <strong>$191</strong>
      </li><li class="item-summary">
        <span>Estimated Taxes</span>
        <strong>$191</strong>
      </li>
    </ul>
    <div class="total">
      <span>Total</span>
      <strong>$3493</strong>
    </div>
    <button class="checkout-btn">Checkout Now</button>
  </aside>
</section>
