.cart {
  display: flex;
  gap: 1.5rem;

  &-list {
    flex: 1;
  }

  &-summary {
    max-width: 500px;
    padding-right: 2rem;
    width: 40%;

    ul {
      padding-bottom: 3rem;
    }
  }

  h2 {
    font-weight: 600;
    margin-bottom: 2rem;
  }
}

.cart-item {
  display: flex;

  img {
    max-width: 100px;
    object-fit: cover;
  }

  &-details {
    flex: 1;
    padding: 0 2rem;
  }

  &-title {
    display: flex;
    justify-content: space-between;

    h3, strong {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: .5rem;
    }
  }

  &-options span {
    color: #888;
    display: block;
    font-size: .9rem;
    margin-bottom: .25rem;
  }

  &-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .counter button {
      border: 1px solid #000;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      height: 25px;
      width: 25px;
    }

    .remove {
      background: #fff;
      border: 1px solid #000;
      cursor: pointer;

      &:hover {
        background: #ccc;
        border-color: #ccc;
      }
    }

    strong {
      font-size: 1.2rem;
      margin: 0 1rem;
    }
  }
}

.item-summary, .total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.total {
  border-top: 1px solid #ccc;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.checkout-btn {
  background: #000;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 1.5rem;
  padding: .75rem 0;
  width: 100%;
}
