<div cdkOverlayOrigin #trigger="cdkOverlayOrigin" class="select">
  <ng-container *ngIf="value; else showPlaceholder">
    <span class="select__label">{{ displayLabel }}</span>
  </ng-container>
  <ng-template #showPlaceholder>
    <span class="select__placeholder">{{ placeholder }}</span>
  </ng-template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    class="select__icon"
    [class.select__icon--rotate]="isOpen"
  >
    <path d="M12 17.414 3.293 8.707l1.414-1.414L12 14.586l7.293-7.293 1.414 1.414L12 17.414z" />
  </svg>
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayWidth]="defaultWidth"
  [cdkConnectedOverlayOffsetY]="2"
  (overlayOutsideClick)="close()"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
>
  <div *ngIf="options.length" @dropdown class="select__panel">
    <ul>
      <li
        *ngFor="let option of options"
        (click)="setValue(option)"
        [attr.aria-disabled]="option.disabled"
        class="option"
      >
        <span class="option__item">{{ option.label }}</span>
      </li>
    </ul>
  </div>
</ng-template>
